@use 'sass:map';
:root {
    font-size: var(--font-size);
}

$type-header1: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-14),
            'line-height': var(--font-size-14),
            'font-weight': 200,
            'letter-spacing': 1px,
            'color': var(--text-color),
        ),
    ),
);
$type-header2: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-12),
            'line-height': var(--font-size-12),
            'font-weight': var(--font-weight-200),
            'letter-spacing': 1px,
            'color': var(--text-color),
        ),
    )
);
$type-header3: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-10),
            'line-height': var(--font-size-10),
            'font-weight': var(--font-weight-200),
            'letter-spacing': 1px,
            'color': var(--text-color),
        ),
    )
);
$type-header4: (
    'default': (
        'values': (
            'font-family': var(--font-family-header),
            'font-size': var(--font-size-8),
            'line-height': var(--font-size-8),
            'font-weight': var(--font-weight-200),
            'letter-spacing': 1px,
            'color': var(--text-color),
        ),
    )
);

$type-paragraph: (
    'default': (
        'values': (
            'font-family': var(--font-family),
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-8),
            'font-weight': var(--font-weight),
            'color': var(--text-color),
            'letter-spacing': 0,
        ),
    ),
    $medium: (
        'values': (
            'font-size': var(--font-size-5),
            'line-height': var(--font-size-8),
        ),
    ),
);

h1,
.h1,
.type-header1 {
    padding: 0;
    margin: 0;
    @include font-config($type-header1);
    font-optical-sizing: auto;
}

h2,
.h2,
.type-header2 {
    padding: 0;
    margin: 0;
    @include font-config($type-header2);
    font-optical-sizing: auto;
}

h3,
.h3,
.type-header3 {
    padding: 0;
    margin: 0;
    @include font-config($type-header3);
    font-optical-sizing: auto;
}

h4,
.h4,
.type-header4 {
    padding: 0;
    margin: 0;
    @include font-config($type-header4);
    font-optical-sizing: auto;
}

p,
.p1,
.type-paragraph {
    padding: 0;
    margin: 0;
    @include font-config($type-paragraph);
}

ul,
ol {
    padding-left: 1rem;
    li {
        @include font-config($type-paragraph);
    }
}
